LEARNOS_MODE=sim
LEARNOS_GRADER_TOKEN=change-me
OPENAI_API_KEY=
LANGFUSE_PUBLIC_KEY=pk-lf-806093b8-cf91-4fce-93bc-48812bd40170
LANGFUSE_SECRET_KEY=sk-lf-7897675f-d376-4853-acb8-7bd1a6de58c8
LANGFUSE_BASE_URL=https://us.cloud.langfuse.com
